.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

html,
body {
  overflow-x: hidden;
}
body {
  position: relative;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* mobile */
@media (max-width: 768px) {
  /* .fcc,
  ._qWTcH {
    flex-direction: column;
  } */
  p {
    font-size: medium;
  }
  .fcc__separator {
    display: none !important;
  }
}
.App-link {
  color: #61dafb;
}

/* Flip Clock */
.fcc__digit_block div {
  background-color: #2d190e !important;
}
.fcc__digit_block div,
.fcc__label {
  font: #e5e0d5 !important;
}
.fcc {
  transform: scale(0.6); /* Adjust the scale factor as needed */
  transform-origin: top center; /* Keeps it aligned properly */
  gap: 3rem !important;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
